// Just to have an idea of how would it be using SCSS
.text-generate-effect {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    border: 7.5px solid transparent;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      border: 7.5px solid #CBACF9;
      border-radius: 100%;
      opacity: 0.7;
    }
  }

  @media only screen and (max-width: 425px){
    flex-direction: column;
  }
}
